{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}
{% block menu %} {{ menu | safe }} {% endblock %}

{% load staticfiles %}
{% block content %}

    {% if form.errors %}
        <p class="error">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

        <form class="form-customer" method="post" action="/sales/customer/save/"
                enctype="multipart/form-data">
                {% csrf_token %} 
			<h2 class="form-signin-heading">Customer</h2>
            
            {{ customer_form.name.errors }}
			<label for="inputName" class="sr-only">Name</label>
			{{ customer_form.name }}
			<br />
			
			{{ customer_form.address.errors }}
			<label for="inputAddress" class="sr-only">Address</label>
			{{ customer_form.address }}
			<br />
			
			{{ customer_form.sin.errors }}
			<label for="inputSin" class="sr-only">SIN</label>
			{{ customer_form.sin }}
	        <br />
	        
        	{{ customer_form.phone.errors }}
			<label for="inputPhone" class="sr-only">Phone</label>
			{{ customer_form.phone }}
			<br />
			
			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            
        </form>

{% endblock %}