{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}

{% load staticfiles %}
{% block content %}
		<hr class="featurette-divider">

<ul class="list-group">
  <li class="list-group-item">Owner : {{user.username}}</li>
  <li class="list-group-item">Store : {{store.name}}</li>
</ul>

<h2>Order: {{order.id}}</h2>
<ul class="list-group">
  <li class="list-group-item">Agent : {{order.agent}}</li>
  
  <li class="list-group-item">
  
  <div class="product-order">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Product</th>
          <th>Amount</th>
          <th>Sales Price</th>
          <th>Cost</th>
          <th>Profit</th>
        </tr>
      </thead>
      <tbody>
      
      	{% for item in product_orders %}
      	<tr>
          <th scope="row">{{item.customer}}</th>
          <td>{{item.product}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.product.sell_price}}</td>
          <td>{{item.product.purchase_price}} x {{ store.currency_rate }} x 1.13</td>
          <td>{{item.profit}}</td>
        </tr>
		{% endfor %}
      
      </tbody>
    </table>
  </div>
  
  </li>
  <li class="list-group-item">Gross Profit : {{ gross_profit }}</li>
  <li class="list-group-item">Delivery Cost : {{order.delivery_cost}}</li>
  <li class="list-group-item">Net Profit : {{net_profit}}</li>
  <li class="list-group-item">Agent Profit : {{agent_profit}}</li>
  <li class="list-group-item">Owner Profit : {{owner_profit}}</li>
  <li class="list-group-item">Agent Payment: {{agent_payment}}</li>
</ul>

{% endblock %}