{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}
{% block menu %} {{ menu | safe }} {% endblock %}

{% load staticfiles %}
{% block content %}
		<hr class="featurette-divider">

<ul class="list-group">
  <li class="list-group-item">Agent : {{user.username}}</li>
  <li class="list-group-item">Store : {{store.name}}</li>
</ul>

{% if customers %}
<ul class="list-group">
	{% for customer in customers %}
		 <li class="list-group-item">{{customer.id}} | {{customer.name}} | {{customer.sin}}</li>
	{% endfor %}
</ul>
{% else %}
    <p>There are no customers.</p>
{% endif %}	

{% endblock %}