{% extends 'site-layout.html' %}

{% block title %} {{ page_title }} {% endblock %}

{% load staticfiles %}
{% block content %}
{% load i18n %}
<h2>Order: {{order.id}}</h2>
<ul class="list-group">
  <li class="list-group-item">{% trans "order.agent.name" %} : {{order.agent}}</li>
  <li class="list-group-item">
  
  <div class="product-order">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Customer{% trans "product_order.customer.name" %}</th>
          <th>Product{% trans "product_order.product.name" %}</th>
          <th>Quantity{% trans "product_order.quantity" %}</th>
          <th>{% trans "product_order.unit_price" %}</th>
          <th>{% trans "product_order.cost_total" %}</th>
          <th>{% trans "product_order.gross_profit" %}</th>
        </tr>
      </thead>
      <tbody>
      
      	{% for item in product_orders %}
      	<tr>
          <th scope="row">{{item.customer}}</th>
          <td>{{item.product}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.sell_price}}</td>
          <td>{{item.purchase_total}}</td>
          <td>{{item.profit_total}}</td>
        </tr>
		{% endfor %}
      
      </tbody>
    </table>
  </div>
  
  </li>
  <li class="list-group-item">Gross Profit {% trans "order.gross_profit" %}: {{ order.gross_profit }}</li>
  <li class="list-group-item">Delivery Cost {% trans "order.delivery_cost" %}: {{order.delivery_cost}}</li>
  <li class="list-group-item">Net Profit {% trans "order.net_profit" %}: {{order.net_profit}}</li>
  <li class="list-group-item">Agent Profit {% trans "order.agent_profit" %}: {{order.agent_profit}}</li>
  <li class="list-group-item">Owner Profit {% trans "order.owner_profit" %}: {{order.owner_profit}}</li>
  <li class="list-group-item">Agent Payment {% trans "order.agent_payment" %}: {{order.agent_payment}}</li>
</ul>

{% endblock %}