{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}
{% block menu %} {{ menu | safe }} {% endblock %}

{% load staticfiles %}
{% block content %}
		<hr class="featurette-divider">

<ul class="list-group">
  <li class="list-group-item">Owner : {{user.username}}</li>
  <li class="list-group-item">Store : {{store.name}}</li>
</ul>

{% if enrolls %}
<ul class="list-group">
	{% for enroll in enrolls %}
		 <li class="list-group-item">{{enroll.id}} | {{enroll.username}} | {{enroll.active}}</li>
	{% endfor %}
</ul>
{% else %}
    <p>There are no agent enrolled in store.</p>
{% endif %}	

{% endblock %}