{% extends 'site-layout.html' %}
{% load i18n %}
{% block title %}{{ page_title }} {% endblock %}

{% load staticfiles %}
{% block content %}

{% if product %}
		<div class="row">
			<div class="col-xs-6 boder-right-splitter">
			{% if images %}
				
				<div class="row">
					<div class="col-xs-12 ">
						<div class="thumbnail">
							<img id="detail" src="/media/{{ product.thumbnail }}" />
						</div>
					</div>
					
				{% for image in images %}	
					<div class="col-xs-4 product-thumb">
						<img src="/media/{{ image.image }}" class="img-responsive" alt="Responsive image" onclick="javascript:updateImage('/media/{{ image.image }}');">
					</div>
					
				{% endfor %}
				</div>
			
			{% endif %}	
			</div>
			<div class="col-xs-6">
				<div class="row">
					<div class="col-md-12">
						<p>{{product.name}}</p>
						<p><p>{% trans "product.price" %}: RMB {{product.sell_price}}</p>
						<br>
						<p>{{product.desc}}</p>
					</div>
				</div>
			</div>
		</div>
{% else %}
    <p>There are no products.</p>
{% endif %}	    

	
{% endblock %}