{% extends 'site-layout.html' %}
{% load i18n %}
{% block title %}{{ page_title }} {% endblock %}

{% load staticfiles %}
{% block content %}
		
<ul class="list-group">
    <li class="list-group-item">
  	<div class="grid-item row">
  		{% for product in products %}
  		<div class="col-xs-3 boder-right-splitter">
  			<a href="/store/product/{{product.sku}}">
  				<img class="img-responsive center-block img-thumbnail" alt="ISDA Logo" src="/media/{{ product.thumbnail }}">
  			</a>
  			<div class="item-description">
	  			<p><strong>{{product.name}}</strong></p>
	  			<p>{% trans "product.price" %}: RMB {{product.sell_price}}</p>
  			</div>
  		</div>
  		
  	
  	{% if forloop.counter|divisibleby:4 %}
  	</div>
  	</li>
  	
  	<li class="list-group-item">
  	<div class="grid-item row">
  	{% endif %}
  	
  	{% endfor %}
  	</div>
  </li>
</ul>

{% endblock %}