{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}
{% block menu %} {{ menu | safe }} {% endblock %}

{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}
        <form class="form-signin" method="post" action="/account/register/"
                enctype="multipart/form-data">
			<h2 class="form-signin-heading">Registration</h2>
            
			{% crispy user_form %}
			{% crispy profile_form %}					
						
            <!-- Provide a button to click to submit the form. -->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            
        </form>

{% endblock %}