{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}

{% load staticfiles %}
{% block content %}

<form class="form-signin" method="post" action="/account/login/">
   	<h2 class="form-signin-heading">Register Account</h2>
          {% csrf_token %}
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          
          <br />
          
          <label for="inputPassword" class="sr-only">Password</label>
      	<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      
          <br />
	<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
	
</form>

        <h1>Register with Rango</h1>

        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/account/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        
        {% endif %}
{% endblock %}